@import url("https://fonts.googleapis.com/css?family=Roboto:100");

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22A39F;
    padding: 15px 80px;
    margin: 0 12px 0 12px;
    box-shadow: 0 5px 10px black;
}

#nav h3{
  font-style: roboto;
}

#navbar1{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

#navbar1 li{
  list-style: none;
  padding: 0 20px;
}

#navbar1 li Button{
  height: 50px;
  border: 2px solid currentColor;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: #197d79;
  font-style: roboto;
  color: black;
  font-size: 1.3rem;
  transition: .2s;
  transform: ease-in-out;
}

#navbar1 li Button:hover {
  color: rgb(225, 216, 216);
  font-weight: 900;
  letter-spacing: 1px;
}

#logout-btn{
  height: 50px;
  border: 2px solid currentColor;
  border-radius: 0.5rem;
  text-decoration: none !important;
  background-color: #197d79;
  font-style: roboto;
  color: black;
  font-size: 1.3rem;
  transition: .2s;
  transform: ease-in-out;
}
#logout-btn:hover {
  color: rgb(255, 0, 0);
  background-color: #8c3e388c;
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration: none !important;
}

/* Estilos para el modal */
.modal-header{
  background-color: var(--secondary-color);
  border-bottom: none;
}

.modal-body .p{
  justify-content: center;
  text-align: center;
}

.modal-form-label {
  color: var(--primary-color);
  font-weight: bold;
}
.modal p{
  color: rgb(0, 0, 0);
}

.modal-footer {
  border-top: none;
}