  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #383737;
  }
  label{
    color: black;
  }
  .medication-schedule {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #eaeaea;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  input[type='text'],
  input[type='time'] {
    width: 100%;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }